pynwb>=2.2.0
dandi>=0.46.6
nwbwidgets>=0.10.0
ndx-grayscalevolume==0.0.2
ndx-icephys-meta==0.1.0
ndx-spectrum==0.2.2
voila==0.3.6
numpy==1.23.3
matplotlib==3.6.1
scikit-image==0.19.3
plotly==5.10.0
ipydatagrid==1.1.13
ipydatawidgets==4.3.2
ipytree==0.2.2
ipyvolume==0.6.0a10
ipyvue==1.8.0
ipyvuetify==1.8.4
ipywebrtc==0.6.0
ipywidgets==7.7.2
ipykernel==6.16.0
ipympl==0.9.2
jupyter_client==7.4.2
jupyter_core==4.11.1
jupyter-server==1.21.0
jupyterlab==3.4.8
jupyterlab-pygments==0.2.2
jupyterlab_server==2.15.2
jupyterlab-widgets==1.1.1
tqdm>=4.36.0
zarr==2.13.3
aiohttp==3.8.3
tifffile==2022.10.10
trimesh==3.15.4
importlib-metadata<5.0
fsspec==2022.8.2
