numpy
matplotlib
scikit-image
pynwb
ipympl
ipyvolume>=0.6.0a10
ipywidgets>=7.4.0, <8.0.0
plotly
tqdm>=4.36.0
zarr
aiohttp
# ccfwidget
tifffile
ndx-spectrum
ndx-icephys-meta
ndx-grayscalevolume
trimesh
dandi
importlib-metadata <5.0
fsspec
voila
# nwbwidgets>=0.9.2