# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Upload Package to PyPI and Publish NWBPanel Docker Image

on:
  # push:
  #   branches:
  #     - panel-fixes-and-improvements
  release:
    types: [published]

jobs:
  publish-pypi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install wheel
      - name: Build package
        run: |
          python setup.py sdist bdist_wheel
      - name: pypi-publish
        uses: pypa/gh-action-pypi-publish@v1.4.2
        with:
          verbose: true
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}

  # release-nwbpanel-image:
  #   name: NWB Panel Image
  #   runs-on: ubuntu-latest
  #   needs: publish-pypi
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v2
  #     - name: Set up QEMU
  #       uses: docker/setup-qemu-action@v2
  #     - name: Set up Docker Buildx
  #       uses: docker/setup-buildx-action@v2
  #     - name: Login to GitHub Container Registry
  #       uses: docker/login-action@v2
  #       with:
  #         registry: ghcr.io
  #         username: ${{ secrets.REPO_GITHUB_USERNAME }}
  #         password: ${{ secrets.REPO_GITHUB_TOKEN }}
  #     - name: Build and push
  #       uses: docker/build-push-action@v3
  #       with:
  #         push: true # Push is a shorthand for --output=type=registry
  #         tags: ghcr.io/neurodatawithoutborders/nwbwidgets-panel:latest
  #         context: docker
  #         file: docker/Dockerfile_publish
